.features{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 80px;
    margin:auto;
}
.feature-item{
    text-decoration: none;
    padding:5px;
    background-color: rgb(228, 227, 227);
    color:#000000;
    margin: 2px 2px 2px 2px;
    border-radius:10px;
    font-size: smaller;
}
