.features{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:10px 0px 10px 0px;
}

.feature-item{
    text-decoration: none;
    padding:10px;
    background-color:black;
    color:#fff;
    margin: 2px 2px 2px 2px;
    border-radius:10px;
    font-size: smaller;
    display:block;
}

