.header{
    background-color:#292727;
    box-shadow: 0px 0px 2px 0px #ffffff;
    color:#ffffff;
    position: fixed;
    width: 100%;
    z-index: 1;
    margin-top: 0px;
}
.header-flex{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:5px 0px 5px 0px;
}
.logo{
    margin-top: 0px;
    margin-bottom: 0px;
}
.link{
    text-decoration: none;
    color:#000000;
}
@media(max-width:750px){
    .logo{
        font-size: small;
    }
    .header{
      position: relative;
    }
    .powered{
        display: none;
    }
}