.main{
    max-width:100%;
}
.image {
    width:80vw;
}

.grid{
    margin-top: 10px;
}


@media screen and (min-width:800px) {
    .grid{
        width:100%;
        display:flex;
        justify-content: center;
        margin-top: 20px;
    }
    .image {
      width:400px
    }
    .masonry{
        margin-top: 50px;
    }
    
}


.link{
    text-decoration: none;
    color:black
}
.link >  h5{
    margin:0px;
    position: absolute;
    padding: 5px;
    background-color: black;
    color:white;
}

.page{
    text-align: center;
}



