.main{
    max-width:100%;
}
.grid{
    width:100%;
    display:flex;
    justify-content: center;
    margin-top: 20px;
}
.masonry{
    margin-top: 50px;
}
.link{
    text-decoration: none;
    color:black
}
.link >  h5{
    margin:0px;
    position: absolute;
    padding: 5px;
    background-color: black;
    color:white;
}
.image{
  
}
.page{
    text-align: center;
}
@media(max-width:750px){
    .image{

    }

}


