form{
    flex-basis: 50%;
}
input{
    padding:5px;
    border:none;
    border-bottom: 1px solid #ffffff;
    width:80%;
    background-color: #292727;
    color:#ffffff;
    font-size: 14px;
}
input::placeholder{
    font-size:16px;
    font-style: italic;
}
input:focus{
    outline: none;
}
form > i {
    cursor: pointer;
}
